* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1e293b, #2563eb);
}

.container {
    display: flex;
    height: 100vh;
}

/* ===== LADO ESQUERDO ===== */

.left-side {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 20px;
}

.brand h1 {
    font-size: 3rem;
}

.brand img {
    width: 70px;
}

.description {
    margin-top: 30px;
    font-size: 1.3rem;
    line-height: 1.6;
}

/* ===== LADO DIREITO ===== */

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.login-card button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #1d4ed8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-card button:hover {
    background-color: #1e40af;
}
